@use "/src/styles.scss" as *;

.dados_container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;

  // border: 1px solid red;
  margin-top: 5em;
  font-weight: $medium;
  font-size: $medium-size;
}

.dados_container_inserirInfos {
  display: flex;
  max-width: 980px;
  width: 100%;
  gap: 4em;
  border: 1px solid red;
}

.dados_container_lista {
  position: relative;
}

.qtdJogadores {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.3em 1em;
  border-radius: 1em;
  color: color-mix(in srgb, $main-yellow 70%, black 30%);
  background: rgb(223, 223, 63);
}

.dados_container_lista,
.dados_container_info,
.num-equipes_container,
.titulo_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dados_container_info {
  width: 100%;
}

.dados_container_info {
  gap: 2em;
}

textarea,
input {
  border: 1px solid $border-text-area;
  outline: none;
  font-family: $secondary-font;
  font-weight: $regular;
  font-size: $medium-size;
  &:focus {
    outline: 1px solid $border-text-focus;
  }
}

textarea,
input {
  resize: none;
  padding: 1em;
}

.dados_container_buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.limpar-btn {
  cursor: pointer;
}

.dados_container_equipesSorteadas {
  width: 100%;
  max-width: 980px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.equipesSorteadas_grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
}

.titulo,
.titulo_equipe {
  font-size: $medium-size;
  font-weight: $semibold;
  font-family: $secondary-font;
}

.titulo_equipe {
  margin-bottom: 0.5em;
}

.dados_container_equipesSorteadas .time ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.dados_container_equipesSorteadas .time ul li {
  padding: 0.5em 1em;
}

.dados_container_equipesSorteadas .time ul li:nth-child(4n - 3),
.dados_container_equipesSorteadas .time ul li:nth-child(4n) {
  background-color: $li-dark-gray; /* Cor azul para o primeiro e quarto elementos em cada grupo de quatro */
}

.dados_container_equipesSorteadas .time ul li:nth-child(4n - 2),
.dados_container_equipesSorteadas .time ul li:nth-child(4n - 1) {
  background-color: $li-light-gray; /* Cor vermelha para o segundo e terceiro elementos em cada grupo de quatro */
}

.time {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
