@use "/src/styles.scss" as *;

* {
  font-size: $medium-size;
}

.homeContainer {
  display: flex;
  margin-top: 4em;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 650px) {
    margin-top: 1em;
  }
}

.homeContainer_content {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.homeContainer_content_buttons {
  display: flex;
  gap: 2em;
}

.homeContainer_content_mainText h1 {
  font-family: $main-font;
  color: $main-green;
  font-weight: $regular;
  font-size: $large-size;
  @media screen and (max-width: 650px) {
    font-size: 30px;
  }
}

.homeContainer_content_secondText a {
  text-decoration: underline;
  color: color-mix(in srgb, $main-green 90%, white 10%);
  font-weight: $semibold;
  display: inline-block;
}

.homeContainer_content_secondText p {
  font-weight: $medium;
  @media screen and (max-width: 650px) {
    font-size: $small-size;
  }
}

.homeContainer_content_gif {
  border-radius: 3rem 1rem 1.5rem 0.5rem;
  max-width: 100%;
  height: 250px;
  background-image: url(/assets/images/freekick1.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // border: 1px solid red;
}

.homeContainer_image {
  overflow: hidden;
  border-radius: 3rem 1.25rem 2rem 1.25rem;
  // border: 1px solid red;
  @media screen and (max-width: 920px) {
    display: none;
  }
}

.homeContainer_image img {
  display: block;
  width: 490px;
}
