<div class="homeContainer">
  <div class="homeContainer_content">
    <div class="homeContainer_content_mainText">
      <h1>Cadastre seus jogadores.<br>Monte equipes balanceadas.<br>Jogue futebol.</h1>
    </div>
    <div class="homeContainer_content_buttons">
      <app-green-button routerLink="/sorteio-balanceado" text="Sorteio Balanceado ⭐️"></app-green-button>
      <app-border-button routerLink="/sorteio-normal" text="Sorteio normal" color="red"></app-border-button>
    </div>
    <div class="homeContainer_content_secondText">
      <p>
        <a href="#">Crie sua conta</a> para poder cadastrar jogadores e gerenciar seus jogos.
      </p>
    </div>
    <div class="homeContainer_content_gif">

    </div>
  </div>
  <div class="homeContainer_image">
    <img src="assets/images/neymar-brazil-wallpaper-confederations-cup-2013.jpg" alt="neymar">
  </div>
</div>
<div class="homeContainer">
  <section class="about">
    <h3>O que é o FairPlay? ⚽</h3>
    <p>Como todo bom brasileiro, nós, assim como você, gostamos de jogar futebol. Com os amigos, colegas de trabalho e até mesmo aquele pessoal do bairro. E sabemos como é importante manter a amizade em campo, evitando discussões desnecessárias sobre quem ficou com o time mais forte.</p>

    <p>É aí que o FairPlay entra em cena, sendo o seu parceiro ideal para garantir sorteios justos e equipes balanceadas. Nosso site foi criado pensando na praticidade que você busca para organizar os jogos de futebol da semana. Com apenas alguns cliques, você pode realizar sorteios de forma rápida e fácil, sem perder tempo discutindo sobre a formação dos times.</p>

    <p>O FairPlay oferece duas opções de sorteio: balanceado e aleatório. Se você quer garantir partidas mais equilibradas, o sorteio balanceado é a escolha certa. Já se a ideia é uma competição mais descontraída, o sorteio aleatório é a opção perfeita para surpresas e diversão.</p>

    <p>Seja o herói da organização nos jogos de futebol entre amigos. Vamos jogar futebol!</p>
  </section>
</div>