<div class="homeContainer">
  <div class="homeContainer_content">
    <div class="homeContainer_content_mainText">
      <h1>Cadastre seus jogadores<br>Monte equipes balanceadas<br>Jogue futebol.</h1>
    </div>
    <div class="homeContainer_content_buttons">
      <app-green-button routerLink="/sorteio-balanceado" text="Sorteio Balanceado ⭐️"></app-green-button>
      <app-border-button routerLink="/sorteio-normal" text="Sorteio normal" color="red"></app-border-button>
    </div>
    <div class="homeContainer_content_secondText">
      <p>
        <a href="#">Crie sua conta</a> para poder cadastrar jogadores e gerenciar seus jogos.
      </p>
    </div>
    <div class="homeContainer_content_gif">

    </div>
  </div>
  <div class="homeContainer_image">
    <img src="assets/images/neymar-brazil-wallpaper-confederations-cup-2013.jpg" alt="neymar">
  </div>
</div>