<div class="dados_container">
  <div class="dados_container_inserirInfos">
    <div class="dados_container_lista">
      <label for="lista-jogadores">Escreva os nomes abaixo</label>
      <textarea id="lista-jogadores" name="lista-jogadores" rows="16" cols="40" [(ngModel)]="nomes" (input)="onNomesInput($event)" placeholder="Digite cada jogador em uma linha"></textarea>
      <span class="qtdJogadores">{{qtdJogadores}}</span>
    </div>

    <div class="dados_container_info">
      <div class="num-equipes_container">
        <label for="num-equipes">Número de equipes</label>
        <input type="number" id="num-equipes" name="num-equipes" required [(ngModel)]="numeroEquipes" min="2" max="24">
      </div>
      <div class="titulo_container">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" (input)="onTituloInput" placeholder="Torneio de confraternização">
      </div>
      <div class="dados_container_buttons">
        <app-green-button text="Ajustar níveis" (buttonClick)="adjustPlayerLevelsButton()"></app-green-button>
        <button class="limpar-btn" (click)="clear()">Limpar</button>
      </div>
      <div class="errorMesage">{{errorMesage}}</div>
    </div>

  </div>

  <div class="dados_container_editarJogadores" *ngIf="mostrarNivelJogadores">
    <div class="dados_container_editarJogadores_content" *ngIf="mostrarTimes">
      <h3>Ajuste o nível dos jogadores utilizando as estrelas</h3>
      <app-small-border-button text="Sortear" (buttonClick)="sortearTimesBalanceados()"></app-small-border-button>
    </div>
    <ul class="uljogadores">
      <li *ngFor="let jogador of jogadores">
        <label for="nivelJogador-{{jogador.nome}}" class="nomeJogador">{{jogador.nome}}</label>
        <div class="input-nivelJogador">
          <input type="radio" name="nivelJogador-{{jogador.nome}}" id="nivelJogador-{{jogador.nome}}-1" class="estrelasJogador">
          <input type="radio" name="nivelJogador-{{jogador.nome}}" id="nivelJogador-{{jogador.nome}}-2" class="estrelasJogador">
          <input type="radio" name="nivelJogador-{{jogador.nome}}" id="nivelJogador-{{jogador.nome}}-3" class="estrelasJogador">
          <input type="radio" name="nivelJogador-{{jogador.nome}}" id="nivelJogador-{{jogador.nome}}-4" class="estrelasJogador">
          <input type="radio" name="nivelJogador-{{jogador.nome}}" id="nivelJogador-{{jogador.nome}}-5" class="estrelasJogador">
        </div>
      </li>
    </ul>
  </div>

  <div class="dados_container_equipesBalanceadas">
    <h3 class="titulo_equipe" *ngIf="mostrarTitulo">{{titulo}}</h3>
    <div class="dados_container_equipesBalanceadas_tabela">
      <div class="tabela_content" *ngFor="let time of timesBalanceados; let i = index">
        <div class="tabela_content_header">
          <h2 class="titulo_equipe">Time {{ i + 1 }}</h2>
          <span>Estrelas ({{ calcularSomatorioPontos(time) }})</span>
        </div>
        <div class="time">
          <li *ngFor="let jogador of time">
            <p>{{ jogador.nome }}</p>
            <span>{{ criarEstrelas(jogador.nivel) }}</span>
          </li>
        </div>
      </div>
    </div>



  </div>
</div>