@use "/src/styles.scss" as *;

.dados_container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;

  // border: 1px solid red;
  margin-top: 5em;
  font-weight: $medium;
  font-size: $medium-size;
}

.dados_container_inserirInfos {
  display: flex;
  @include containerSizes;
  gap: 4em;
  // border: 1px solid red;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.dados_container_lista {
  position: relative;
}

.qtdJogadores {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.3em 1em;
  border-radius: 1em;
  color: color-mix(in srgb, $main-yellow 70%, black 30%);
  background: rgb(223, 223, 63);
}

.dados_container_lista,
.dados_container_info,
.num-equipes_container,
.titulo_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dados_container_info {
  width: 100%;
}

.dados_container_info {
  gap: 2em;
}

textarea,
input {
  border: 1px solid $border-text-area;
  outline: none;
  box-shadow: 5px 5px 9px #dcdcdc, -5px -5px 9px #fefefe;
  font-family: $secondary-font;
  font-weight: $regular;
  font-size: $medium-size;
  &:focus {
    outline: 1px solid $border-text-focus;
  }
}

textarea,
input {
  resize: none;
  padding: 1em;
}

.dados_container_buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.limpar-btn {
  cursor: pointer;
}

.titulo,
.titulo_equipe {
  font-size: $medium-size;
  font-weight: $semibold;
  font-family: $secondary-font;
}

.titulo_equipe {
  padding: 0.5em;
}

.errorMesage {
  font-size: 14px;
  font-weight: $regular;
  color: red;
}

.dados_container_editarJogadores {
  // border: 1px solid red;
  @include containerSizes;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dados_container_editarJogadores_content h3 {
  font-family: $secondary-font;
  font-weight: $semibold;
  font-size: $medium;
}

.dados_container_editarJogadores_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uljogadores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.uljogadores li {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background: $li-light-gray;
}

.dados_container_equipesBalanceadas {
  max-width: 980px;
  width: 100%;
  margin-bottom: 10em;
}

.dados_container_equipesBalanceadas_tabela {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  // border: 1px solid red;
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabela_content {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.tabela_content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  &:nth-child(even) {
    background: $li-light-gray;
  }
  &:nth-child(odd) {
    background: $li-dark-gray;
  }
}

.playerStar {
  color: $star-light-gray;
}

.selected {
  color: $star-yellow;
}
