$black: #000000;
$main-green: #599d49;
$main-yellow: #e7c719;
$black-gray: #cfcfcf;
$ligh-gray: #ececec;
$star-yellow: #ffd600;
$star-light-yellow: #fffbe3;
$border-star: #8d7d2a;
$border-text-area: #8d8d8d;
$border-text-focus: #b3b3b3;
$li-ligth-gray: #ececec;
$li-dark-gray: #cfcfcf;
